.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

#imgAction,
#imgdemo {
    width: 300px;
    height: 250px;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

#gif,
#dbtn {
    margin-top: 5px;
}